{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ravindra Prajapati</title>
    <link href="{%static '/css/main.css'%}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100" id="profile-wrapper">
                    <img id="profile-pic" src="{%static 'images/rahul.jpeg'%}" width="128" height="128" >
                    <hr>
                    <h4>Mr RAVINDRA PRAJAPATI</h4>
                    <p style="font-size:90%;"><b>Company:</b> Harman Connected Services</p>
                    <p style="font-size:90%;">Product Engineer</p>
                    <p style="font-size:80%;">Email: prajapatiravindra44@gmail.com</p>
                    <p style="font-size:80%;">Contact: 9904548464</p>
                    <p style="font-size:80%;">I love coding , travelling and Play guitar</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-90">
                    <h4>Summary of Qualifications</h4>
                    <hr>
                    <p>
                        •	3.5 years of experience in Software Testing which includes Process Automation and Build & Release Management
                    </p>
                    <p>
                        •	Good knowledge in Python, My SQL DB, Android feature testing, Android framework debugging
                        and Python scripting.
                    </p>
                    <p>
                        •	Strong foundation in software testing and bug analysis.
                        Basic knowledge of python framework Django, css and HTML.
                    </p>
                    <p>
                        •	Good knowledge in microcontroller especially for 8051 assembly and embedded c.
                        Having hands-on experience in I2C, SPI and UART protocols.
                    </p>
                    <p><b>Professional Experience:</b></p>
                    <p>Harman Connected Services Corporation India Pvt. Ltd - Jan 2019 to till now</p>
                    <p>UST Global Pvt. Ltd. - Aug 2016 to Dec 2018 </p>


                    <ul class="social-links">
                        <li><p><a href="https://www.instagram.com/000rahul000/">
                            <img border="0" alt="instagram" src="{%static 'images/instagram.jpg'%}" width="40" height="40" >

                            </a></p>
                        </li>
                        <li><p><a href="https://www.linkedin.com/in/ravindra-prajapati-8ba732a3/">
                            <img border="0" alt="instagram" src="{%static 'images/linkedin.jfif'%}" width="25" height="25" >

                            </a></p>
                        </li>
                        <li><p><a href="https://www.facebook.com/rahul.prajapati.7146/">
                            <img border="0" alt="instagram" src="{%static 'images/facebook.png'%}" width="25" height="25" >

                            </a></p>
                        </li>
                        <li><p><a href="https://twitter.com/03rahul03">
                            <img border="1" alt="instagram" src="{%static 'images/twitter.png'%}" width="25" height="25" >

                            </a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>Project Experience - with customer information</h4>
                    <hr>
                    <p style="font-size:85%;"><b>Project name:</b> AWS policy violation bug filing Tool</p>
                    <p style="font-size:85%;"><b>Duration:</b> June 2019 to Feb 2020</p>
                    <p style="font-size:85%;"><b>Role :</b> Product Engineer</p>
                    <p style="font-size:85%;"><b>Project abstract: </b>After AWS ARN runs, results will generate for different policies of AWS
                        for example: EC & EC2 security policy, IAM policy. Tool will work in such a way that
                        it will analyze the output results of ARN and it contains algorithm to decide failures and decision
                        making for filing JIRA tickets automatically for necessary failures.
                    </p>
                    <p style="font-size:85%;"><b>Libraries of Tool: </b>This tool is diversified and developed in such a way that
                        all the operations performed by AWS in will have their own library or module, so it will be ease
                        for any future modification for any of the security policy.
                        Library contains: Application utilities, Application Logic(Boto3),Data Models(contains policies),
                        yaml(contains predefined expected outcome), Scan deployment(Which will store results in my sql db)
                        All the ARN scan results were maintained with My SQL data base, which will be used for further failure analysis.
                    </p>
                    <p style="font-size:85%;"><b>Client: </b>Intel</p>
                    <p style="font-size:85%;"><b>Platform: </b>Usage for AWS scan results analysis and  bug filing, Windows,</p>
                    <p style="font-size:85%;"><b>Tools: </b>Pycharm, Git ,JIRA, My SQL </p>
                    <p style="font-size:85%;"><b>Role and Responsibilities: </b>
                    <p style="font-size:80%;"><b>Development:</b></p>
                        <p style="font-size:80%;">•	Developed Python code for Different types of policy run and algorithm check for failures.</p>
                        <p style="font-size:80%;">•	Involved in debugging the code and fixing the Bugs.</p>
                        <p style="font-size:80%;">•	Maintaining scan result in my sql db</p>
                        <p style="font-size:80%;">•	Performed testing of tool for different type of ARN of AWS security policies.</p>
                        <p style="font-size:80%;">•	Developed scan deployment and Data models library for tool development.</p>
                    <p style="font-size:80%;"><b>Support:</b></p>
                    <p style="font-size:80%;">•	Reviewing bugs in tool and after necessary fix updating to version control Git.</p>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100" >
                    <h4>Project Experience - with customer information</h4>
                    <hr>
                    <p style="font-size:85%;"><b>Project name:</b> IoTG Project</p>
                    <p style="font-size:85%;"><b>Duration:</b> Jan 2019 to till now</p>
                    <p style="font-size:85%;"><b>Role :</b> Product Engineer</p>
                    <p style="font-size:85%;"><b>Project abstract: </b>This project is intel android platform,
                        which need to be tested and compatible with Celadon Q android version,
                        it is going to be used as Health care devices or for smartphones
                    </p>
                    <p style="font-size:85%;"><b>Part of testing: </b>Project involves testing Android Q OS and embedded
                        validation of APL NUC platform. Preparing build image according to requirements to test Platform.
                        Debugging bugs for features like Ethernet and Dual Ethernet of OS Android P for APL NUC platform.
                        Executing <b>CTS, VTS, GTS</b> and performing functional testing like Ethernet, Sensors, Display,
                        Audio and FOTA.

                    </p>
                    <p style="font-size:85%;"><b>Client: </b>Intel</p>
                    <p style="font-size:85%;"><b>Platform: </b>APL NUC, </p>
                    <p style="font-size:85%;"><b>Tools: </b>ADB, Celadon Q code ,JIRA </p>
                    <p style="font-size:85%;"><b>Role and Responsibilities: </b>
                    <p style="font-size:80%;"><b>Development:</b></p>
                        <p style="font-size:80%;">•	Developed Python scripts for necessary manual test cases to perform
                            it automatically for long runs, also it will generate output in excel with plotting graphs if
                            required</p>
                        <p style="font-size:80%;">•	Performed debugging activities for analysing failures of CTS, and VTS</p>
                        <p style="font-size:80%;">•	Building android Q image after compiling Android Q source code after
                            doing required feature enable/disable as per requirement. </p>
                    <p style="font-size:80%;"><b>Testing:</b></p>
                    <p style="font-size:80%;">•	Performing functional testing of Display, Audio, FOTA, Security, and benchmarking.</p>
                    <p style="font-size:80%;">•	Reporting bugs to bug tracking tool and collecting debug logs for analyzing bug.</p>
                    <p style="font-size:80%;">•	Running different test suites like CTS, VTS, and GTS and providing failure analysis</p>
                    <p style="font-size:80%;">•	Providing initial level debugging with code analysis for failures of Audio. </p>
                    </p>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>Tools & Technology Expertise</h4>
                    <hr>
                    <p><b>CODING LANGUAGES:</b> Python,My SQL DB, C , C++,Assembly for 8051,embedded C</p>
                    <p><b>Web Design languages:</b> HTML, CSS</p>
                    <p><b>FRAMEWORKS:</b> Django , xTF test framework</p>
                    <p><b>OPERATIING SYSTEMS:</b> Unix and Windows</p>
                    <p><b>SIMULATORS/TOOLS:</b> Simics, Pycharm ,Keil, Proteus,</p>
                    <p><b>DOCUMENTATION:</b> Microsoft Word and Excel</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>Personal Details</h4>
                    <hr>
                    <p style="font-size:85%;"><b>Highest Education:</b> B.E. in Electronics Engineering from BVM Engineering college </p>
                    <p style="font-size:85%;"><b>Personal interest projects:</b></p>
                    <p style="font-size:85%;">Developing web crawler and scraper using Python,
                        which will scrap all necessary data from all open job portals, Naukri.com, Indeed, Monster.</p>
                    <p style="font-size:85%;">Developed student management system for Tuition classes, this
                        tool is developed using Tkinter, Python and used My SQL Db to maintain database.</p>
                    <p style="font-size:85%;">In part of final year project, I have done the project of industrial
                        process management based on PLC and SCADA.</p>
                </div>
            </div>
        </div>
        <br>
    </div>

</body>
</html>